* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 10px auto;
    max-width: 1024px;
    padding: 20px;
}

.slides-img {
    display: flex;
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #000000;
}

.nav-block {
    display: flex;
    justify-content: space-between;
}

.slides-text {
    height: 1.2rem;
    overflow: hidden;
}

.nav {
    display: flex;
    background-color: #222222;
}

.circle-area {
    height: 18px;
    width: 18px;
    margin: 6px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.circle-area:hover .circle {
    border: 2px solid #ffffff;
    opacity: 1;
}

.circle {
    height: 10px;
    width: 10px;
    opacity: .7;
    background-color: transparent;
    border: 2px solid #2ca2da;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

input[name="radio"] {
    opacity: 0;
    display: none;
}

#r1:checked ~ .nav-block > .nav > .circle-area:nth-child(1) > .circle,
#r2:checked ~ .nav-block > .nav > .circle-area:nth-child(2) > .circle,
#r3:checked ~ .nav-block > .nav > .circle-area:nth-child(3) > .circle,
#r4:checked ~ .nav-block > .nav > .circle-area:nth-child(4) > .circle,
#r5:checked ~ .nav-block > .nav > .circle-area:nth-child(5) > .circle {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    opacity: 1;
    pointer-events: none;
    transition-duration: .4s;
}

.slides-img img {
    width: 100%;
    object-fit: cover;
}

#r1:checked ~ .slides-img > .s1 {
    margin-left:0;
}

#r2:checked ~ .slides-img > .s1 {
    margin-left:-100%;
}

#r3:checked ~ .slides-img > .s1 {
    margin-left:-200%;
}

#r4:checked ~ .slides-img > .s1 {
    margin-left:-300%;
}

#r5:checked ~ .slides-img > .s1 {
    margin-left:-400%;
}


#r1:checked ~ .nav-block > .slides-text > .t1 {
    margin-bottom: 0px;
}

#r2:checked ~ .nav-block > .slides-text > .t1 {
    margin-bottom: -20px;
}

#r3:checked ~ .nav-block > .slides-text > .t1 {
    margin-bottom: -40px;
}

#r4:checked ~ .nav-block > .slides-text > .t1 {
    margin-bottom: -60px;
}

#r5:checked ~ .nav-block > .slides-text > .t1 {
    margin-bottom: -80px;
}